/* =========================
   Global Styles
   ========================= */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

strong {
    font-weight: normal;
}
body {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    
}

/* =========================
   Header / Navbar Styles
   ========================= */



#navbar {
    position: fixed;
    width: 100%;
    padding: 0;
    background: rgba(51,51,51, 0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100; /* Ensures the navbar stays on top of other elements */
    height: 100px; /* Adjust as necessary */
    top: 0;
    background-color: #54797F;
}

#navbar img.logo-icon {
    margin-left: 30px;
    height:50px;
}


#navbar img.logo {
    margin-left: 30px;
    height: auto; /* adjust as necessary */
    width: 50mm; /* maintain aspect ratio */
}

#navbar .nav {
    margin-right: 20px;
    /* Adds space to the right of the nav */
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    list-style: none;
    margin: 0 20px;
}

.nav ul li a, .nav ul li p {
    color: #DAE3DA;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.5s ease;
    display: inline-block;
    position: relative;
    font-family: 'Julius Sans One', sans-serif;
}

.nav ul li a:not(.a-exc)::after {
    content: '';
    display: block;
    font-weight: 500;
    width: 0;
    height: 2px;
    background: #DAE3DA;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav ul li a:not(.a-exc):hover {
    transform: scale(1.1);
    color: #DAE3DA;
}

.nav ul li a:not(.a-exc):hover::after {
    width: 100%;
}

.menu-toggle {
    display: none; /* Hidden by default, will be displayed on smaller screens */
}

.nav ul li.close-menu {
    display: none; /* Hide by default, will be shown when menu is active on mobile */
}


.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background-color: #54797F;
    margin-top: 40px;
  }
  .dropdown-content a {
    padding-top:15px;
    padding-bottom: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav ul li a.a-exc:hover {
   transform: scale(1.1);
  }

  
  #logoScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54797F;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    transition: opacity 1s;
}

#logoScreen::before {
    content: "";
    background: rgba(0, 0, 0, 0.0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#logoContainer {
    position: relative;
    height: 200px;
    width: 485px; /* This will ensure the logo container has a defined width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo {
    height: 100%;
    width: auto;
    z-index: 2;
}

#loadingBar {
    position: absolute;
    bottom: 47px;
    left: 0; /* This makes sure the bar starts from the left edge */
    height: 2px;
    background: #c2939a;
    width: 0;
    transition: width 2s ease-in-out;
    z-index: 2;
}



/* =========================
   Main Content Styles
   ========================= */

/* =========================
   HOME Content Styles
   ========================= */

   

  /* ... Other parts of your CSS ... */

/* ========= Video Section ========= */
/* ... Other parts of your CSS ... */

.vid-section {
    position: relative;
    height: 75vh;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.vid {
    position: absolute; 
    top: 0;
    left: 50%;  /* Changed to center the video on the section */
    transform: translateX(-50%);  /* Translate only horizontally */
    height: 100%;  /* This keeps the height constant */
    width: auto;  /* Allows the width to adjust freely */
    z-index: -2; 
}

.vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


.vid-overlay {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.slogan-and-button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DAE3DA;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

/* ... Rest of your styles ... */


/* ... Rest of your styles ... */


.logo-slogan{
    height: 270px;
    width: auto;
    padding-bottom: 50px;
}


.slogan {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: 'Julius Sans One', sans-serif;
}

.book-now {
    border: none;
    background: #C6A9AE;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.book-now:hover {
    background: #978185;
    transform: scale(1.1);
}

/* NAV BOOK NOW */

.nav .nav-book-now .book-now {
    /* These styles will override the general .book-now styles when within the nav */
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    background: #C6A9AE;
    color: white;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 5px 15px; 
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.nav .nav-book-now .book-now:hover {
    transform: none; 
    color: inherit;
    background: #978185;
    transform: scale(1.1);
}

.nav .nav-book-now .book-now:hover::after {
    width: 0;
}


/* ... Other parts of your CSS ... */

  
  
  
  

  .testimonial-slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}

.slides-container {
    display: flex;
    width: 300%; /* You might need to adjust this */
    height: 100%;
    position: absolute;
    left: 0;
    transition: left 1s ease-in-out; /* Adjust animation speed here */
}

.testimonial-slide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px;
    box-sizing: border-box;
    background-color: #efefef;
    border-radius: 10px;
}



  .testimonial-slide img {
    max-width: 100px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .testimonial-slider::-webkit-scrollbar {
    display: none;
  }
  
  .testimonial-slide .testimonial-text {
    font-size: 1.1rem;
    font-style: italic;
    color: #54797F;
    font-weight: lighter;
    margin-bottom: 10px;
}
  
.testimonial-author {
    font-size: 1.0rem;
    font-weight: 800;
    color: #978185;
}

/* Navigation Buttons */
#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #54797F;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
  z-index: 1; 
  transition: transform 0.3s, background-color 0.3s; 
  transform-origin: center; 
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

/* Add the hover effect */
#prevBtn:hover,
#nextBtn:hover {
  transform: scale(1.01);
  background-color: #C6A9AE; /* Forest Green */
  animation: shake 2s ease-in-out infinite; 
  animation-delay: 2s;
}

/* Define the shake animation */
@keyframes shake {
  0% { transform: scale(1.01) rotate(0deg); }
  20% { transform: scale(1.01) rotate(-2deg); }
  40% { transform: scale(1.01) rotate(2deg); }
  60% { transform: scale(1.01) rotate(-2deg); }
  80% { transform: scale(1.01) rotate(2deg); }
  100% { transform: scale(1.01) rotate(0deg); }
}

/* ABOUT SECTION STYLES */



.main-about {

    background-color: #efefef;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Change this line */
    margin: 20px 0;
    background-color: #efefef;
    flex-wrap: wrap;
    padding-top: 100px;
}

.about-image {
    
    flex: 0 0 20%;
    max-width: 20%;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    overflow: hidden; /* Add this line */
    
    
    border-radius: 0 20% 20% 0;  /* Adjust this to achieve desired curvature */
}

.about-image img {
    min-width: 100%; /* Change this line */
    min-height: 100%; /* Change this line */
    object-fit: cover; /* Change this line */
    
}

.about-section.reverse {
    flex-direction: row-reverse;
    padding-top: 0;
}

.about-section,
.about-section.reverse {
    z-index: 1; /* Lower z-index so it's underneath the navbar */
    /* Other styles... */
}
.about-section.reverse .about-image {
    /* Curvature on the left-hand side */

    border-radius: 20% 0 0 20%;  /* Adjust this to achieve desired curvature */
    
}

.about-text {
    flex: 0 0 80%;
    max-width: 80%; /* Add this line */
    padding: 20px;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Julius Sans One', sans-serif;
    color: #978185;
}

.about-text p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #54797F;
}

@media (max-width: 1000px) {
    .about-section {
        flex-direction: column;
    }

    .about-image,
    .about-text {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 0; /* Remove border-radius effect */
    }

    .about-image {
        clip-path: none; /* Reset the clip-path for smaller screens */
    }

    .about-text {
        order: -1;
    }

    .about-image img {
        width: 100%; /* Change this line */
        height: auto; /* Change this line */
        border-radius: 0; /* Remove border-radius effect */
    }
    .about-section.reverse .about-image {
        border-radius: 0;
    }
    
}

.wte {
    margin-top: 120px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    width: calc(50% - 10px); /* 50% for two cards in a row, minus a little for the gap */
    margin-bottom: 20px; /* Space between rows */
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; /* Full height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.5s;
    background-color: #DAE3DA;
}

.card-back {
    opacity: 0; 
    padding: 20px;
    align-items: flex-start;
    justify-content: center; /* Centered but start-aligned text */
}
.card-back {
    position: relative;  /* only position card-back as relative so it defines the height of the card */
}

.card-front {
    z-index: 2;
    visibility: visible;
    opacity: 1;
}

.card-back {
    padding: 20px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    align-items: flex-start;
    justify-content: flex-start;
}

.card:hover .card-front {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.card:hover .card-back {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.card.flipped .card-front {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.card.flipped .card-back {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.card-front img {
    width: 80px;
    margin-bottom: 20px;
}

.card-front h2, .card-back h3 {
    text-align: center;
}

footer {
    margin-top: 20px;
    padding: 20px 0;
    clear: both;
}

.wte h1, .wte h2, .wte h3, .wte h4, .wte h5, .wte h6 {
    font-family: 'Julius Sans One', sans-serif;
    color: #ac9296;
    padding-bottom: 15px;
    text-align: center; /* Center-align the text */
}

.wte p, .wte li, .wte ul {
    color: #54797F;
    text-align: left;
}

@media (max-width: 1300px) {
    .card {
        width: 100%;
    }
}





/* FEES css */

.service-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 110px;
}

.service-card {
    width: calc(50% - 20px);
    background-color: #54797F;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.service-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;  /* Gap between title and details */
}

.service-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 68%;  /* Increased from 48% */
}

.service-price {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 28%;  /* Decreased to complement the increase in .service-description */
}

.service-card h2 {
    font-family: 'Julius Sans One', sans-serif;
    color:#C6A9AE;
    margin-bottom: 10px;
}

.service-card p {
    color: #DAE3DA;
    margin-bottom: 10px;
}

/* ... (rest of your CSS) */


/* ... (rest of your CSS) */


.cancellation-policy {
    color: #54797F;
    margin: 20px; /* Spacing between the cards and this text */
}

/* For smaller screens, we'll stack the blocks on top of each other */

/* fees.css */

.main-services {
    width: 100vw;  /* Ensures the main-services div covers the entire viewport width */
    height: 80%;
    overflow-x: hidden;
    max-height: calc(100vh - 100px); /* Replace [HEIGHT OF NAVBAR] with your navbar's height. */
    overflow-y: scroll;
    padding-top: 120px;
    position: relative;
}




.main-services .content-section {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    transition: opacity 1s;
    padding-top: 10px;
    width: 100%;
}

.main-services .content {
    width: 95vw;  /* Ensures the content div covers the entire viewport width */
    max-width: none;  /* Removes the maximum width restriction */
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0.9;
    transition: opacity 0.5s;
    display: flex;
    flex-wrap: wrap;  /* Allows the content to wrap below the image on smaller screens */
    align-items: center;  /* Centers items vertically */
    justify-content: space-between;  /* Pushes content and image to opposite sides */
    gap: 20px;  /* Spacing between wrapped content */
}

.main-services .content-text {
    flex: 1;  /* Allows the text container to take up the available space */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertically centers the content within */
}

.main-services .content-image {
    width: calc(20vh - 40px);  /* Ensures that the image is square and smaller than the content-section */
    height: calc(20vh - 40px);  /* Same as width to maintain square shape */
    border-radius: 50%;  /* Turns it into a circle */
    object-fit: cover;  /* Ensures the image scales correctly */
    margin-left: 20px;  /* Spacing between text and the image */
    align-self: center;  /* Vertically centers the image */
    flex-shrink: 0;  /* Prevents the image from shrinking */
}

.main-services .content-section:hover {
    transform: scale(1.02);
    opacity: 1;
    transition: ease 0.5s;
}

.main-services h2 {
    margin-top: 0;
    font-family: 'Julius Sans One', sans-serif;
    z-index: 3;
    color: #978185;
}

.main-services p {
    padding-top: 10px;
    color: #47666b;
}

.service-card p a {
    color:#DAE3DA;
}
.main-services .content-section:hover .content-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-arrow {
    position: absolute;
    bottom: 10px;  /* positions the element from the bottom */
    left: 95%;  /* centers the element horizontally */
    transform: translateX(-50%); /* adjusts for true horizontal centering */
    width: 50px; /* or whatever size you want */
    height: 50px;
    background-color:#C6A9AE; /* pink background */
    border-radius: 50%;  /* makes it a circle */
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);  /* subtle shadow for 3D effect */
    display: flex;
    align-items: center;
    justify-content: center; /* centers the arrow icon inside the circle */
    transition: transform 0.3s ease-in-out; /* This provides a smooth movement */
    cursor: pointer;
    transform-origin: center;
    color:white; /* Indicates it's clickable */
}

/* When the arrow should shake */
.shaking {
    animation: shakeAnimation 0.5s;
}


@keyframes shakeAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-5px);
    }
    40%, 80% {
        transform: translateX(5px);
    }
}







/* CARE HTML STYLES */

.full-page{
    z-index: -3;
}

.section {
    text-align: center;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 4%;
    height: auto;
    padding-bottom: 20px;
}
.slide h2{
    color: #978185;
    font-family: 'Julius Sans One', sans-serif;
}

.slide-content {
    width: 100%;
    padding-left: 20px;
    color: #54797F;
    font-size: 1.1rem;
}
#timeline {
    position: fixed;    /* Change from relative to fixed */
    bottom: 10px;       /* Push it up a bit from the absolute bottom */
    left: 50%;          /* Center it horizontally */
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    background-color: white;    /* Optional: Add a background to improve visibility */
    padding: 5px;       /* Optional: Give it some padding */
    border-radius: 5px; /* Optional: Round the corners for aesthetics */
    width: 90%;         /* Optional: Limit the width for better visibility */
    overflow-x: auto;   /* Optional: In case the items overflow the viewport width, allow them to scroll */
    z-index: 9999;      /* Optional: Ensure the timeline is above other elements */
}

.timeline-item {
    position: relative;
    padding-left: 20px;        /* Adjust the left padding to 20px */
    margin: 0 20px;
    cursor: pointer;
    color: #54797F;
    font-weight: normal;
    transition: all 0.3s ease;
    display: inline-block;
}

.timeline-item:before {
    display: none;
}

.timeline-item:after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 20px);   /* Add 20px to the left side */
    transform: translateY(-50%);
    width: 20px;               /* Reduce the width to maintain 20px gap on the right side */
    height: 1px;
    background-color: #54797F;
}



.timeline-item:last-child:after {
    display: none;  /* Prevent the line from displaying after the last item */
}

.timeline-item.active {
    color: rgb(48, 166, 154);
    font-weight: bold;
}

.timeline-item:hover {
    color: turquoise;
}


.section.fp-auto-height {
    height: auto !important;
}



@media (max-width: 999px) {
    .timeline-item {
        display: none;
    }
}

  

/*WTE HTML */

.placeholder {
    margin-top: 100px;
    width: 100%;
    min-height: 900px;
}
  

/* =========================
   Footer Styles
   ========================= */

   footer {
    background: #54797F;
    color: #fff;
    display: flex; /* Added this */
    flex-wrap: wrap; /* Added this */
    justify-content: space-between; /* Added this */
    align-items: stretch;
    z-index: 2; /* Added this */
}

.info-container {
    display: flex;
    flex-direction: row; /* Added this */
    width: 100%; /* Added this */
    height: 100%; /* Added this */
    justify-content: space-between;
    align-items: stretch;
}

.map-container {
    flex: 0.4; /* Adjust this for your 50% width for map */
    height: auto; /* Adjusted this */
    position: relative;
}



.map-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); /* Change the 0.5 to adjust darkness */
    mix-blend-mode: multiply;
    pointer-events: none;
}

.address {
    flex: 0.2; /* Adjust this for your 20% width for address */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #DAE3DA;
}
.address p:last-child {
    margin-bottom: 20px;
}

.link-style{
    color:#54797F;
    padding-bottom: 20px;
}

.address a {
    color: #DAE3DA;
}

.enquiry-form {
    flex: 0.3; /* Adjust this for your 30% width for form */
    background-color: #47666b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}




.enquiry-form form {
    display: flex;
    flex-direction: column;
}

.enquiry-form input,
.enquiry-form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif; /* add the font family you want */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.enquiry-form textarea {
    height: 100px; /* adjust this to get your desired height */
}

.enquiry-form button {
    margin: 20px 0;
    padding: 10px;
    width: 100px;
    justify-content: center;
    font-size: 16px;
    background-color: #C6A9AE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* added transition effect */
}

.enquiry-form button:hover {
    transform: scale(1.1); /* increases size of the button */
    background-color: #a28a8e; /* darkens the button color */
}


.footer-logos {
    display: flex;
    flex-wrap: wrap; /* Allow the logos to wrap to the next line if there's no space */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #DAE3DA;
}




.footer-logos img {
    height: 80px;
    width: auto;
    max-width: 100%;  /* Ensure the logos don't overflow their containers */
    margin: 5px;
}

#openModal {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #DAE3DA;
    text-decoration: underline;
    cursor: pointer;
    outline: none; /* Removes the default focus outline */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #f5f5f5;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content h2 {
    font-family: 'Julius Sans One', sans-serif;
    color: #C6A9AE;
    padding: 10px;

}
.modal-content p {
    color: #54797F;
    padding: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.main-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    background-color: #e8e8e8; 
    margin-top: 100px;
}

.policy-header {
    text-align: center; /* Centers the Privacy Policy heading */
    margin-bottom: 20px; /* Some spacing between title and icons */
}

.main-policy h2 {
    font-family: 'Julius Sans One', sans-serif;
    color: #C6A9AE;
    padding: 10px;
    margin-bottom: 20px; /* A little spacing between the title and the icons */
}

.doc-icons {
    display: flex;
    justify-content: center; /* Centers the icons horizontally */
    gap: 20px; /* Space between the document icons */
}

.doc-icons a {
    display: flex;
    flex-direction: column; /* Stacks icon and label vertically */
    align-items: center; /* Centers content horizontally */
    text-decoration: none; /* Removes default link underline */
    border: 1px solid #d2d2d2; /* Adds border around each document container */
    border-radius: 5px; /* Rounded corners for modern look */
    padding: 15px; /* Padding around each document container */
    background-color: #ffffff; /* White background for each document container */
    transition: transform 0.3s ease; /* Smooth scaling on hover */
}

.doc-icons a:hover {
    transform: scale(1.05); /* Slightly enlarges the document container on hover */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); /* Adds shadow on hover for depth effect */
}

.doc-icons a img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-bottom: 10px; /* Space between the image and the label */
}

.doc-icons a p {
    color:#54797F; /* Dark text color for label */
    margin: 0; /* Removes default paragraph margin */
    text-align: center;
}
.policy-content{
    color:#54797F;
}



/* For viewports less than 1500px but more than 1000px */
@media (min-width: 1001px) and (max-width: 1500px) {
    .footer-logos {
        justify-content: center;
    }
    .footer-logos img {
        /* Half the container width minus the margin. */
        max-width: calc(50% - 10px);
    }
}

/* For viewports less than 1000px */
@media (max-width: 1000px) {
    .footer-logos img {
        /* The logos can take up to the full width of the container but won't stretch due to 'width: auto' */
        max-width: 100%;
    }
}


#toast {
    visibility: hidden;
    max-width: 50%;
    margin: auto;
    background-color: rgb(51,51,51);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 25%;
    bottom: 30px;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/* =========================
   Mobile / Responsive Styles
   ========================= */



@media (max-width: 1000px) {
    #navbar {
        height: 8vh;
    }

    .nav ul {
        position: fixed;
        right: -100%;
        width: 100%;
        height: 100vh;
        top: 0;
        flex-direction: column;
        justify-content: start;
        background-color: #54797F;
        padding-top: 60px;
        transition: 0.5s;
    }

    .nav ul li {
        margin: 30px 0;
        padding-top: 50px;
        font-size: 40px;
    }

    .menu-toggle {
        display: block;
        margin-right: 40px;
        cursor: pointer;
    }

    .fas.fa-bars {
        font-size: 45px; /* Change this value to adjust the size */
    }

    .close-menu {
        display: none; /* Hide by default */
        position: absolute;
        
        font-size: 2rem;
        cursor: pointer;
    }

    /* Show close button when menu is active */
    .nav.active .close-menu {
        display: block;
        padding:0;
        top: 5px;
        left: 50px;
        font-size: 5rem;
    }

    .nav.active ul {
        right: 0;
    }

    .menu-toggle.active {
        color: #fff; /* Change color when active or add any other styles */
    }
    .dropdown {
        padding-top: 0;      /* Override the top padding */
        padding-bottom: 0;   /* Override the bottom padding */
    }
    .dropdown-content {
        margin-top: 0; /* Or you can reduce this value based on your design needs */
    }

    .vid-section {
        position: relative;
        height: 60vh;
        width: 100%;
        overflow: hidden;
        margin-top: 100px;
    }
    
    .vid {
        position: absolute; 
        top: 0;
        left: 50%;  /* Changed to center the video on the section */
        transform: translateX(-50%);  /* Translate only horizontally */
        height: 100%;  /* This keeps the height constant */
        width: auto;  /* Allows the width to adjust freely */
        z-index: -2; 
    }
    
    .vid video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }
    
    
    .vid-overlay {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; 
    }
    
    .slogan-and-button {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #DAE3DA;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }
    
    /* ... Rest of your styles ... */
    
    
    /* ... Rest of your styles ... */
    
    
    .logo-slogan{
        height: 270px;
        width: auto;
        padding-bottom: 50px;
    }
    
    
    .slogan {
        font-size: 4em;
        font-weight: 400;
        margin-bottom: 50px;
        font-family: 'Julius Sans One', sans-serif;
    }
    
    .book-now {
        border: none;
        background: #C6A9AE;
        color: white;
        font-size: 2em;
        padding: 20px 30px;
        border-radius: 15px;
        transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
        cursor: pointer;
        text-decoration: none;
    }
    
    .book-now:hover {
        background: #978185;
        transform: scale(1.1);
    }
    .testimonial-slider {
        position: relative;
        width: 100%;
        height: 35vh;
        overflow: hidden;
        z-index: 1;
    }
    
    .slides-container {
        display: flex;
        width: 300%; /* You might need to adjust this */
        height: 100%;
        position: relative;
        left: 0;
        transition: left 1s ease-in-out; /* Adjust animation speed here */
    }
    .testimonial-slide {
        padding: 50px; /* reduce padding */
    }

    .testimonial-slide img {
        max-width: 80px; /* reduce image size */
        height: 50px;
    }

    .testimonial-slide :active .testimonial-text {
        font-size: 1.5rem; /* reduce font size */
    }

    .testimonial-slide .testimonial-text {
        font-size: 1.5rem; /* reduce font size */
    }

    .testimonial-slide .testimonial-author {
        font-size: 1.5rem; /* reduce font size */
    }


      
    .testimonial-author {
        font-size: 1.0rem;
        font-weight: 800;
        color: #978185;
    }
    
    /* Navigation Buttons */
    #prevBtn,
    #nextBtn {
      position: absolute;
      top: 10%;
      transform: translateY(-50%);
      background-color: #54797F;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 15px;
      font-size: 1.6rem;
      z-index: 1; 
      transition: transform 0.3s, background-color 0.3s; 
      transform-origin: center; 
    }
    
    #prevBtn {
      left: 10px;
    }
    
    #nextBtn {
      right: 10px;
    }


    .info-container {
        flex-direction: column;
        gap:20px;
    }
    .map-container iframe {
        height: 400px; /* Adjust this value based on your preference for mobile views */
    }

    .address p, #openModal{
        font-size: 2em;
        padding-top: 5px;
    }

    #myForm {
        height: 35vh;
    }

    #myForm label {
        font-size: 2em;
        padding: 15px;
    }
    #myForm input{
        height: 80px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 2em;
        padding-left:20px;
    }
    #myForm textarea{
        height: 160px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 2em;
        padding-left:20px;
        padding-top:20px;
    }
    #myForm button{
        height: 60px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 2em;
    }

    #toast {
        visibility: hidden;
        max-width: 70%;
        margin: auto;
        background-color: rgb(51,51,51);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 25%;
        bottom: 30px;
        font-size: 30px;
    }

    .about-section{
        margin-top: 4vh;
    }
    .about-text{
        font-size: 2em;
    }

    .full-page .section .slide h2{
        font-size: 3em;
    }

    .full-page .section .slide img{
        height: 150px;
        width: auto;
    }
    .full-page .section .slide .slide-content p{
        font-size: 2em;
    } 
    #timeline p{
        font-size: 2em;
    }

    .wte {
        margin-top: 8vh;
    }
    .wte h1{
        font-size: 3em;
        padding: 10px;
    }

    .cards-wrapper .card .card-inner .card-front img{
        height: 120px;
        width: auto;
    }
    .cards-wrapper .card .card-inner .card-front h2 {
        font-size: 2.5em;
        padding: 10px;
    }

    .cards-wrapper .card .card-inner .card-back{
        padding: 10px;
    }
    .cards-wrapper .card .card-inner .card-back h3 {
        font-size: 2em;
        padding: 10px;
    }

    .cards-wrapper .card .card-inner .card-back p, .card .card-inner .card-back li {
        font-size: 2em;
        padding: 10px;
    }

    .service-section {
        margin-top: 9vh; 
    }

    .service-card {
        width: 100%;
    }

    .service-card h2 {
        font-size: 2em;
    }

    .service-description p, .service-price p {
        font-size: 2em;

    }
    .booking-link p{
        font-size: 2em;
    }
    .cancellation-policy p{
        font-size: 1em;
    }


    /* services mobile rendering*/
    .main-services {
        margin-top: 9vh;
        padding-top:0;
    }

    .content {
        overflow: hidden;
    }

    .main-services .content-text {
        flex: 70%;  /* Allocates 70% width to the content-text */
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size:2em;
    }
    

    .content-section .content .content-image {
        border-radius: 5%;
        flex:30%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .scroll-arrow {

    height: 80px;
    width: 80px;
    bottom: 10px;  /* positions the element from the bottom */
    left: 95%;  /* centers the element horizontally */
    transform: translateX(-60%); /* adjusts for true horizontal centering */
    }
    
}






