/* =========================
   Global Styles
   ========================= */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

strong {
    font-weight: normal;
}
body {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    
}

/* =========================
   Header / Navbar Styles
   ========================= */



#navbar {
    position: fixed;
    width: 100%;
    padding: 0;
    background: rgba(51,51,51, 0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100; /* Ensures the navbar stays on top of other elements */
    height: 100px; /* Adjust as necessary */
    top: 0;
    background-color: #54797F;
}

#navbar .logo {
    margin-left: 30px;
}
#navbar .logo img {
    height: 75px; /* adjust as necessary */
    width: auto; /* maintain aspect ratio */
}

#navbar .nav {
    margin-right: 20px;
    /* Adds space to the right of the nav */
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    list-style: none;
    margin: 0 20px;
}

.nav ul li a {
    color: #DAE3DA;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.5s ease;
    display: inline-block;
    position: relative;
    font-family: 'Julius Sans One', sans-serif;
}

.nav ul li a:not(.a-exc)::after {
    content: '';
    display: block;
    font-weight: 500;
    width: 0;
    height: 2px;
    background: #DAE3DA;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav ul li a:not(.a-exc):hover {
    transform: scale(1.1);
    color: #DAE3DA;
}

.nav ul li a:not(.a-exc):hover::after {
    width: 100%;
}

.menu-toggle {
    display: none; /* Hidden by default, will be displayed on smaller screens */
}

.nav ul li.close-menu {
    display: none; /* Hide by default, will be shown when menu is active on mobile */
}


.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background-color: #54797F;
    margin-top: 40px;
  }
  .dropdown-content a {
    padding-top:15px;
    padding-bottom: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav ul li a.a-exc:hover {
   transform: scale(1.1);
  }

  
  #logoScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54797F;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    transition: opacity 1s;
}

#logoScreen::before {
    content: "";
    background: rgba(0, 0, 0, 0.0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#logoContainer {
    position: relative;
    height: 200px;
    width: 485px; /* This will ensure the logo container has a defined width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo {
    height: 100%;
    width: auto;
    z-index: 2;
}

#loadingBar {
    position: absolute;
    bottom: 47px;
    left: 0; /* This makes sure the bar starts from the left edge */
    height: 2px;
    background: #c2939a;
    width: 0;
    transition: width 2s ease-in-out;
    z-index: 2;
}



/* =========================
   Main Content Styles
   ========================= */

/* =========================
   HOME Content Styles
   ========================= */

   

  /* ... Other parts of your CSS ... */

/* ========= Video Section ========= */
/* ... Other parts of your CSS ... */

.vid-section {
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
}

.vid {
    position: absolute; 
    top: 0;
    left: 50%;  /* Changed to center the video on the section */
    transform: translateX(-50%);  /* Translate only horizontally */
    height: 100%;  /* This keeps the height constant */
    width: auto;  /* Allows the width to adjust freely */
    z-index: -2; 
}

.vid video {
    min-width: 100%;  /* Let's video pick its natural width */
    height: 100%;  /* Force the height to always match the container */
    object-fit: cover;  /* This will ensure the video covers the entire container */
    z-index: -2;
}

.vid-overlay {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.slogan-and-button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DAE3DA;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

/* ... Rest of your styles ... */


/* ... Rest of your styles ... */





.slogan {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Julius Sans One', sans-serif;
}

.book-now {
    border: none;
    background: #C6A9AE;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.book-now:hover {
    background: #978185;
    transform: scale(1.1);
}

/* ... Other parts of your CSS ... */

  
  
  
  

  .testimonial-slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}

.slides-container {
    display: flex;
    width: 300%; /* You might need to adjust this */
    height: 100%;
    position: absolute;
    left: 0;
    transition: left 1s ease-in-out; /* Adjust animation speed here */
}

.testimonial-slide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px;
    box-sizing: border-box;
    background-color: #efefef;
    border-radius: 10px;
}



  .testimonial-slide img {
    max-width: 100px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .testimonial-slider::-webkit-scrollbar {
    display: none;
  }
  
  .testimonial-slide .testimonial-text {
    font-size: 1.1rem;
    font-style: italic;
    color: #54797F;
    font-weight: lighter;
    margin-bottom: 10px;
}
  
.testimonial-author {
    font-size: 1.0rem;
    font-weight: 800;
    color: #978185;
}

/* Navigation Buttons */
#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
  z-index: 1; 
  transition: transform 0.3s, background-color 0.3s; 
  transform-origin: center; 
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

/* Add the hover effect */
#prevBtn:hover,
#nextBtn:hover {
  transform: scale(1.01);
  background-color: #54797F; /* Forest Green */
  animation: shake 2s ease-in-out infinite; 
  animation-delay: 2s;
}

/* Define the shake animation */
@keyframes shake {
  0% { transform: scale(1.01) rotate(0deg); }
  20% { transform: scale(1.01) rotate(-2deg); }
  40% { transform: scale(1.01) rotate(2deg); }
  60% { transform: scale(1.01) rotate(-2deg); }
  80% { transform: scale(1.01) rotate(2deg); }
  100% { transform: scale(1.01) rotate(0deg); }
}

/* ABOUT SECTION STYLES */





.about-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Change this line */
    margin: 20px 0;
    background-color: #ffffff;
    flex-wrap: wrap;
    padding-top: 100px;
}

.about-image {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    overflow: hidden; /* Add this line */
    clip-path: polygon(0% 0%, calc(100% - 50px) 0, 100% 50%, calc(100% - 50px) 100%, 0% 100%);
}

.about-image img {
    min-width: 100%; /* Change this line */
    min-height: 100%; /* Change this line */
    object-fit: cover; /* Change this line */
    
}

.about-section.reverse {
    flex-direction: row-reverse;
    padding-top: 0;
}

.about-section,
.about-section.reverse {
    z-index: 1; /* Lower z-index so it's underneath the navbar */
    /* Other styles... */
}
.about-section.reverse .about-image {
    /* Curvature on the left-hand side */
    clip-path: polygon(50px 0%, 100% 0%, 100% 100%, 50px 100%, 0% 50%);
}

.about-text {
    flex: 0 0 60%;
    max-width: 60%; /* Add this line */
    padding: 20px;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #978185;
}

.about-text p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #54797F;
}

@media (max-width: 1000px) {
    .about-section {
        flex-direction: column;
    }

    .about-image,
    .about-text {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-image {
        clip-path: none; /* Reset the clip-path for smaller screens */
    }

    .about-text {
        order: -1;
    }

    .about-image img {
        width: 100%; /* Change this line */
        height: auto; /* Change this line */
    }
}



/* What to Expect Styles */

#what-to-expect {
    padding: 2em 0;
    background-color: #ffffff;
    box-shadow: none;
    margin: 0;
    text-align: center;
}

#what-to-expect h1 {
    color: #978185;
    margin-bottom: 2em;
}

.card {
    perspective: 1000px;
    width: calc(50% - 2em);
    max-height: 400px;
    margin: 1em;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    float: left;
    overflow: hidden;
    position: relative;
}

.card-inner {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
    position: relative;
}


.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.card-front {
    background: #ffffff; 
    z-index: 2;
    transform: rotateY(0deg);
    padding-top:100px;
}

.card-back {
    background: #ffffff;
    z-index: 1;
    transform: rotateY(-180deg); /* This will ensure the back is ready to flip when hovering */
}

.card-front h2, .card-back h3 {
    color: #978185;
    margin-bottom: 1em;
}

.card-front img {
    height: 100px;  /* adjust as needed */
    width: auto;   /* maintain the aspect ratio */
    max-width: 100%;  /* ensure it doesn't exceed the card width */
    display: block;  /* remove inline gaps */
    margin: 0 auto;  /* center the image if it's less than card width */
    padding-bottom: 10px;
}


.card-back p, .card-back ul, .card-front p, .card-front ul {
    color: #54797F;
    padding-left:20px;
    padding-right: 20px;
}

@media (max-width: 1000px) {
    .card {
        width: 80%;
        margin: 1em auto;
        float: none;
    }
}


/* FEES css */

#fees-section {
    width: 90%;
    margin: 2em auto;
    background-color: #f8f8f8;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 110px;
}

#fees-section h2 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    color: #ac9296;
    margin-bottom: 1.5em;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 2em;
}

table th, table td {
    padding: 0.5em 1em;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #54797F;
    font-style: bold;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1rem;
    color: #DAE3DA;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
}

table td {
    color: #54797F;
}

table tr:last-child td {
    border-bottom: none;
}

/* fees.css */

.main-services {
    height: 80%;
    overflow-x: hidden;
    padding-top:120px;
    
}

.main-services .content-section {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    transition: opacity 1s;
    padding-top: 10px;
}

.main-services .content {
    width: 80%;
    max-width: 1000px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0.9;  /* set initial opacity to 0.3 for all content */
    transition: opacity 0.5s;
}

.main-services .content-section:hover {
    transform: scale(1.02);
    opacity: 1;
    transition: ease 0.5s;
}

.main-services h2 {
    margin-top: 0;
    z-index: 3;
    color: #978185;
}
.main-services p{
    padding-top: 10px;
    color: #47666b;


}




/* CARE HTML STYLES */

.full-page{
    z-index: -3;
}

.section {
    text-align: center;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 4%;
    height: auto;
    padding-bottom: 20px;
}
.slide h2{
    color: #978185;
}

.slide-content {
    width: 100%;
    padding-left: 20px;
    color: #54797F;
    font-size: 1.1rem;
}
#timeline {
    position: fixed;    /* Change from relative to fixed */
    bottom: 10px;       /* Push it up a bit from the absolute bottom */
    left: 50%;          /* Center it horizontally */
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    background-color: white;    /* Optional: Add a background to improve visibility */
    padding: 5px;       /* Optional: Give it some padding */
    border-radius: 5px; /* Optional: Round the corners for aesthetics */
    width: 90%;         /* Optional: Limit the width for better visibility */
    overflow-x: auto;   /* Optional: In case the items overflow the viewport width, allow them to scroll */
    z-index: 9999;      /* Optional: Ensure the timeline is above other elements */
}

.timeline-item {
    position: relative;
    padding-left: 20px;        /* Adjust the left padding to 20px */
    margin: 0 20px;
    cursor: pointer;
    color: #54797F;
    font-weight: normal;
    transition: all 0.3s ease;
    display: inline-block;
}

.timeline-item:before {
    display: none;
}

.timeline-item:after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 20px);   /* Add 20px to the left side */
    transform: translateY(-50%);
    width: 20px;               /* Reduce the width to maintain 20px gap on the right side */
    height: 1px;
    background-color: #54797F;
}



.timeline-item:last-child:after {
    display: none;  /* Prevent the line from displaying after the last item */
}

.timeline-item.active {
    color: rgb(48, 166, 154);
    font-weight: bold;
}

.timeline-item:hover {
    color: turquoise;
}


.section.fp-auto-height {
    height: auto !important;
}



@media (max-width: 999px) {
    .timeline-item {
        display: none;
    }
}

  

/*WTE HTML */

.placeholder {
    margin-top: 100px;
    width: 100%;
    min-height: 900px;
}
  

/* =========================
   Footer Styles
   ========================= */

   footer {
    background: #54797F;
    color: #fff;
    display: flex; /* Added this */
    flex-wrap: wrap; /* Added this */
    justify-content: space-between; /* Added this */
    align-items: stretch;
    z-index: 2; /* Added this */
}

.info-container {
    display: flex;
    flex-direction: row; /* Added this */
    width: 100%; /* Added this */
    height: 100%; /* Added this */
    justify-content: space-between;
    align-items: stretch;
}

.map-container {
    flex: 0.4; /* Adjust this for your 50% width for map */
    height: auto; /* Adjusted this */
    position: relative;
}



.map-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); /* Change the 0.5 to adjust darkness */
    mix-blend-mode: multiply;
    pointer-events: none;
}

.address {
    flex: 0.2; /* Adjust this for your 20% width for address */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #DAE3DA;
}

.enquiry-form {
    flex: 0.3; /* Adjust this for your 30% width for form */
    background-color: #47666b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
    }
    .map-container,
    .address,
    .enquiry-form {
        width: 100%;
    }
    .map-container {
        height: 50vh; /* Adjust the height as per requirement */
    }
}


.enquiry-form form {
    display: flex;
    flex-direction: column;
}

.enquiry-form input,
.enquiry-form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif; /* add the font family you want */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.enquiry-form textarea {
    height: 100px; /* adjust this to get your desired height */
}

.enquiry-form button {
    margin: 20px 0;
    padding: 10px;
    width: 100px;
    justify-content: center;
    font-size: 16px;
    background-color: rgb(89, 117, 172);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* added transition effect */
}

.enquiry-form button:hover {
    transform: scale(1.1); /* increases size of the button */
    background-color: rgb(63, 93, 136); /* darkens the button color */
}



.footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* adjust this value as needed */
    margin: 0 auto; /* center the logos container */
    padding: 20px; /* space around the logos */
    background-color: #DAE3DA; /* background color for the logos container */
}

.footer-logos img {
    height: 100px; /* adjust this value to get your desired height */
    width: auto;
}

#toast {
    visibility: hidden;
    max-width: 50%;
    margin: auto;
    background-color: rgb(51,51,51);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 25%;
    bottom: 30px;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/* =========================
   Mobile / Responsive Styles
   ========================= */



@media (max-width: 768px) {
    .nav ul {
        position: fixed;
        right: -100%;
        width: 100%;
        height: 100vh;
        top: 0;
        flex-direction: column;
        justify-content: start;
        background-color: #54797F;
        padding-top: 60px;
        transition: 0.5s;
    }

    .nav ul li {
        margin: 30px 0;
    }

    .menu-toggle {
        display: block;
        margin-right: 20px;
        cursor: pointer;
    }

    .close-menu {
        display: none; /* Hide by default */
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 2rem;
        cursor: pointer;
    }

    /* Show close button when menu is active */
    .nav.active .close-menu {
        display: block;
    }

    .nav.active ul {
        right: 0;
    }

    .menu-toggle.active {
        color: #fff; /* Change color when active or add any other styles */
    }
}


@media (max-width: 768px) {
    .testimonial-slide {
        padding: 30px; /* reduce padding */
    }

    .testimonial-slide img {
        max-width: 80px; /* reduce image size */
        height: 50px;
    }

    .testimonial-slide .testimonial-text {
        font-size: 0.9rem; /* reduce font size */
    }

    .testimonial-author {
        font-size: 0.8rem; /* reduce font size */
    }
}

@media (max-width: 480px) {
    .testimonial-slide {
        padding: 20px; /* further reduce padding */
    }

    .testimonial-slide img {
        max-width: 60px; /* further reduce image size */
        height: 40px;
    }

    .testimonial-slide .testimonial-text {
        font-size: 0.8rem; /* further reduce font size */
    }

    .testimonial-author {
        font-size: 0.7rem; /* further reduce font size */
    }
}


@media (max-width: 768px) {
    .slogan {
        font-size: 2em; /* reduce font size */
    }
}

@media (max-width: 480px) {
    .slogan {
        font-size: 1.5em; /* further reduce font size */
    }
}